git+https://github.com/ansible/ansible-sign
ansible-runner>=2.3.2

# We are carrying a backport into 2.14. We pin to <2.15 so we don't break
# builds as soon as 2.15 drops. We should drop our backport and remove this pin
# once 2.15 comes out.
# ansible-core 2.14 gibt es nicht für python39
ansible-core<=2.15

dumb-init

requests==2.28.2
netapp-lib==2021.6.25
netapp-ontap==9.12.1.0
pexpect==4.8.0
colorama==0.4.6
# newer ansible-lint require python>3.9
ansible-lint==6.13.1
jmespath==1.0.1
nested-lookup==0.2.25
urllib3
six